{% extends 'base/main.html' %}
{% load static %}
{% block name %}{{ config.raiz }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">{{ config.raiz }}</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none">{{ config.raiz }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ config.titulo }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ config.titulo }}</h4>
                <form id="form" method="post" enctype="multipart/form-data" class="forms-sample">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-12 mb-3">
                            <label for="id_password_now">Senha atual</label>
                            <input type="text" class="form-control" id="id_password_now" name="password_now">
                        </div>

                        <div class="col-12 mb-3">
                            <label for="id_password">Nova senha</label>
                            <input type="text" class="form-control" id="id_password" name="password">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="id_password_new">Confirmação da nova senha</label>
                            <input type="text" class="form-control" id="id_password_new" name="password_new">
                        </div>

                        {{ form.errors }}

                    </div>
                    <div class="row mt-3">
                        <div class="col-10">
                            <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-block">Cancelar</a>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href=
                  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script>
        function limpar_filtros() {
            let inputs = document.getElementsByClassName("form-control");
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].name && inputs[i].value) {
                    inputs[i].value = "";
                }
            }
        }

        $(function () {
            var availableTags = [
                {% for data in form.autor.field.queryset %}
                    "{{data.get_nome_completo}}",
                {% endfor %}
            ];
            $("#asdas").autocomplete({
                source: availableTags
            });
        });

    </script>
{% endblock %}