{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SJF - Sistema Jurídico do Fluxo</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'corona/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'corona/assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'corona/assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'corona/assets/images/favicon.png' %}"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="text-center mb-5"><span
                                class="fw-light">Bem vindo ao Sistema de Gestão Júridico da</span> Cidade Fluxo</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Identidade</label>
                                <input type="text" id="id_username" name="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" id="id_password" name="password" class="form-control">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Lembrar-me </label>
                                </div>
                                <a href="#" class="forgot-pass" style="text-decoration: none">Esqueci a senha</a>
                            </div>
                            <div class="row">
                                <span class="text-body">{{ form.errors }}</span>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block col-12 enter-btn">Login</button>
                                </div>
                            </div>
                            <p class="sign-up">Não possui registro?<br>
                                Entre em contato com <a href="#" style="text-decoration: none"> Drask Dáfilo#7541</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'corona/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'corona/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'corona/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'corona/assets/js/misc.js' %}"></script>
<script src="{% static 'corona/assets/js/settings.js' %}"></script>
<script src="{% static 'corona/assets/js/todolist.js' %}"></script>
<!-- endinject -->
</body>
</html>