{% extends 'base/main.html' %}
{% load static %}
{% block name %}{{ config.raiz }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">{{ config.raiz }}</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none">{{ config.raiz }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ config.titulo }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ config.titulo }}</h4>
                <form id="form" method="post" enctype="multipart/form-data" class="forms-sample">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios"
                                               id="opt_cliente_existente" value="False" checked> Cliente existente <i
                                            class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optionsRadios"
                                               id="opt_novo_cliente" value="True"> Novo cliente <i
                                            class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="cliente_novo" style="display: none">
                        <div class="col-12 mb-4">
                            <div class="card card-inverse-dark">
                                <div class="card-body">
                                    <h4 class="card-title">Novo cliente</h4>
                                    {{ form_cliente }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="cliente_existente">
                        <div class="col-12 mb-2">
                            <label>{{ form.cliente.label }}:</label>
                            {{ form.cliente }}
                        </div>
                    </div>
                    <div class="row">
                        {% for field in form %}
                            {% if not field.name == "cliente" %}
                                <div class="col-12 mb-2">
                                    <label>{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for field in form %}
                            {% if field.field.queryset %}
                                <datalist id="{{ field.field.widget.attrs.list }}">
                                    {% for data in field.field.queryset %}
                                        <option value="{{ data.pk }}">{{ data }}</option>
                                    {% endfor %}
                                </datalist>
                            {% endif %}
                        {% endfor %}
                        {{ form.errors }}
                    </div>
                    <div class="row mt-3">
                        <div class="col-10">
                            <a href="{% url config.url_list %}" class="btn btn-secondary btn-block">Cancelar</a>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href=
                  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script>
        function limpar_filtros() {
            let inputs = document.getElementsByClassName("form-control");
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].name && inputs[i].value) {
                    inputs[i].value = "";
                }
            }
        }

        $('input[type=radio]').change(function () {
            if (this.value == "True") {
                $('#cliente_existente').hide().find('input, textarea').prop('disabled', true);
                $('#cliente_novo').show().find('input, textarea').prop('disabled', false);
            } else {
                $('#cliente_novo').hide().find('input, textarea').prop('disabled', true);
                $('#cliente_existente').show().find('input, textarea').prop('disabled', false);
            }
        });

    </script>
{% endblock %}