{% extends 'base/main.html' %}
{% load static %}
{% block name %}{{ config.raiz }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">{{ config.raiz }}</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none">{{ config.raiz }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ config.titulo }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtros</h4>
                <form id="form" class="forms-sample">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Número do processo</label>
                                <input type="text" class="form-control" name="numero_processo"
                                       id="exampleInputUsername1"
                                       placeholder="Número do processo">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Autor</label>
                                <input type="text" name="autor" class="form-control" id="exampleInputEmail1"
                                       placeholder="Identidade do Autor">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Data</label>
                                <input type="date" name="data_abertura" class="form-control" id="exampleInputPassword1"
                                       placeholder="Data">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-10">
                            <button onclick="limpar_filtros()" class="btn btn-secondary btn-block">Limpar filtros
                            </button>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ config.titulo }}</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            {% for campo in config.campos_tabela %}
                                <th>{{ campo.verbose_name }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="conteudo">
                        {% load humanize %}
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.id }}</td>
                                <td>{{ object.responsavel }}</td>
                                <td>{{ object.servico }}</td>
                                <td>{{ object.descricao|slice:":100" }}</td>
                                <td>R$ {{ object.valor }}</td>
                                <td>{{ object.cliente }}</td>
                                <td>
                                    <a href="{% url 'prestacao_servicos_detail' object.pk %}" class="text-primary" style="text-decoration: none;"><i class="mdi mdi-eye"></i></a>
                                    <a href="{% url 'prestacao_servicos_update' object.pk %}" class="text-success" style="text-decoration: none;"><i class="mdi mdi-border-color"></i></a>
                                    <a href="{% url 'prestacao_servicos_delete' object.pk %}" class="text-danger" style="text-decoration: none;"><i class="mdi mdi-close-circle"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function limpar_filtros() {
            let inputs = document.getElementsByClassName("form-control");
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].name && inputs[i].value) {
                    inputs[i].value = "";
                }
            }
        }

        function get_data() {
            let inputs = document.getElementsByClassName("form-control");
            console.log(inputs);
            console.log(inputs[0]);
            let query_params = "";
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].name && inputs[i].value) {
                    query_params = query_params + inputs[i].name + "=" + inputs[i].value + "&";
                }
            }
            console.log(query_params);
            $.get("?queryset=true&" + query_params, function (data) {
                const object = JSON.parse(data);
                var response = "";
                for (let i = 0; i < object.length; i++) {
                    response = response + `
                <tr>
                    <td>${object[i]["numero_processo"]}</td>
                    <td>${object[i]["autor"]}</td>
                    <td>${object[i]["reu"]}</td>
                    <td>${object[i]["juiz"]}</td>
                    <td>${object[i]["advogado_autor"]}</td>
                </tr>
                `
                }
                $("#conteudo").html(response);
            });
        }
    </script>
{% endblock %}