{% extends 'base/main.html' %}
{% load static %}
{% block name %}Nova Prestação de Serviço{% endblock %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">Serviços</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none">Serviços</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nova Prestação de Serviço</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Nova Prestação de Serviço</h4>
                <form id="form" method="post" enctype="multipart/form-data" class="forms-sample">
                    {% csrf_token %}
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="form-group">
                                {{ buscar_cliente }}
                                {% for field in buscar_cliente %}
                                    {% if field.field.queryset %}
                                        <datalist id="{{ field.field.widget.attrs.list }}">
                                            {% for data in field.field.queryset %}
                                                <option value="{{ data.identidade }}">{{ data }}</option>
                                            {% endfor %}
                                        </datalist>
                                    {% endif %}
                                {% endfor %}

                                <div class="col-12 mt-3">
                                    <p class="text-warning">Não encontrou registro?</p>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="checkbox_cliente" class="form-check-input">
                                            Adicionar novo cliente <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <h4 class="card-title text-success">Informações Gerais</h4>

                    <div class="row" id="cliente_novo">
                        <div class="col-12 mb-4">
                            <div class="card card-inverse-dark">
                                <div class="card-body">
                                    <h4 class="card-title">Novo cliente</h4>
                                    {{ cliente_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ servico_form.as_p }}
                    {% for field in servico_form %}
                        {% if field.field.queryset %}
                            <datalist id="{{ field.field.widget.attrs.list }}">
                                {% for data in field.field.queryset %}
                                    <option value="{% if field.name == "responsavel" %}{{ data.identidade }}{% else %}{{ data.numero_processo }}{% endif %}">{{ data }}</option>
                                {% endfor %}
                            </datalist>
                        {% endif %}
                    {% endfor %}

                    {{ form.errors }}

                    <hr class="mt-5 mb-4">
                    <h4 class="card-title text-warning">Legislação</h4>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="id_leis">Leis:</label>
                            <input placeholder="Buscar por leis" class="form-control" name="leis" id="id_leis">
                        </div>
                    </div>

                    <div class="table-responsive mb-4">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Categoria</th>
                                <th>Artigo</th>
                                <th>Descrição</th>
                                <th>Pena Base</th>
                                <th>Fiança</th>
                                <th>Agravante</th>
                            </tr>
                            </thead>
                            <tbody id="conteudo">
                            </tbody>
                        </table>
                    </div>
                    <div class="card card-inverse-dark">
                        <div class="card-header">
                            <h4 class="mt-2 text-danger">Delitos</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive mb-4">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Categoria</th>
                                        <th>Artigo</th>
                                        <th>Descrição</th>
                                        <th>Pena Base</th>
                                        <th>Fiança</th>
                                        <th>Agravante</th>
                                    </tr>
                                    </thead>
                                    <tbody id="conteudo_definitivo">
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive mb-4">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Meses</th>
                                        <th>Multa</th>
                                        <th>Fiança</th>
                                        <th>Agravante</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="total_meses"></td>
                                        <td id="total_multa"></td>
                                        <td id="total_fianca"></td>
                                        <td id="agravantes"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive mb-4">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Meses (-30%)</th>
                                        <th>Multa (-30%)</th>
                                        <th>Fiança (-30%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="total_meses_desconto"></td>
                                        <td id="total_multa_desconto"></td>
                                        <td id="total_fianca_desconto"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-10">
                            <a href="" class="btn btn-secondary btn-block">Cancelar</a>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>

    <script>
        function limpar_filtros() {
            let inputs = document.getElementsByClassName("form-control");
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].name && inputs[i].value) {
                    inputs[i].value = "";
                }
            }
        }

        if ($("#checkbox_cliente").checked == true) {
            $('#cliente_novo').show().find('input, textarea').prop('disabled', false);
            $('#id_cliente').val("");
            $('#id_cliente').prop('disabled', true);
            $('#id_cliente').css('background-color', '#0f1015');
        } else {
            $('#id_cliente').prop('disabled', false);
            $('#id_cliente').css('background-color', '#2A3038');
            $('#cliente_novo').hide().find('input, textarea').prop('disabled', true);
        }


        $("#checkbox_cliente").change(function () {
            if (this.checked == true) {
                $('#cliente_novo').show().find('input, textarea').prop('disabled', false);
                $('#id_cliente').prop('disabled', true);
                $('#id_cliente').css('background-color', '#0f1015');
            } else {
                $('#id_cliente').prop('disabled', false);
                $('#id_cliente').css('background-color', '#2A3038');
                $('#cliente_novo').hide().find('input, textarea').prop('disabled', true);
            }
            $('#id_cliente').val("");
        });

        var lista_leis = [];
        $("#id_leis").keyup(function () {

            $.get("/api/legislacao/?descricao=" + this.value, function (result) {
                var html_str = "";
                for (const lei in result) {
                    html_str = html_str + `<tr id="lei_${result[lei].id}">
                    <td><input type="checkbox" onclick="adicionar_lei(${result[lei].id})" name="checkbox_lei" id="checkbox_lei_${result[lei].id}" value="${result[lei].id}" class="form-check-input"></td>
                    <td>${result[lei].categoria}</td>
                    <td>${result[lei].descricao}</td>
                    <td>${result[lei].pena_base_meses} / ${result[lei].pena_base_multa}</td>
                    <td>${result[lei].pena_fianca}</td>
                    <td>${result[lei].pena_agravante}</td>
                    </tr>`
                }
                $("#conteudo").html(html_str);
            });
        });

        function aplicacao_penal() {
            $.get("/api/legislacao/servico?leis=" + lista_leis.toString(), function (result) {
                $("#total_meses_desconto").html(result.meses - (result.meses * 30)/100);
                $("#total_multa_desconto").html(result.multa - (result.multa * 30)/100);
                $("#total_fianca_desconto").html(result.fianca - (result.fianca * 30)/100);
                $("#total_meses").html(result.meses);
                $("#total_multa").html(result.multa);
                $("#total_fianca").html(result.fianca);
                $("#agravantes").html(result.agravante.toString());
            });
        }

        function remover_lei(lei) {
            var index = lista_leis.indexOf(lei);
            lista_leis.splice(index, 1);
            $("#lei_adicionada_" + lei).remove();
            console.log(lista_leis)
            aplicacao_penal();
        }

        function adicionar_lei(lei) {
            $.get(`/api/legislacao/${lei}/`, function (result) {
                var html_str = `<tr id="lei_adicionada_${result.id}">
                <td><input type="checkbox" onclick="remover_lei(${result.id})" name="checkbox_lei" id="checkbox_lei_${result.id}" value="${result.id}" class="form-check-input"></td>
                <td>${result.categoria}</td>
                <td>${result.descricao}</td>
                <td>${result.pena_base_meses} / ${result.pena_base_multa}</td>
                <td>${result.pena_fianca}</td>
                <td>${result.pena_agravante}</td>
                </tr>`;
                let conteudo_atual = $("#conteudo_definitivo").html();
                $("#conteudo_definitivo").html(conteudo_atual + html_str);
            });
            lista_leis.push(lei);
            $("#lei_" + lei).remove();
            console.log(lista_leis);
            aplicacao_penal(lista_leis);
        }

        $('#form').submit(function () {
            $(this).append('<input type="hidden" name="lista_leis" value="' + lista_leis + '" /> ');
            return true;
        });

    </script>
{% endblock %}